<ul>
  <li *ngFor="let item of items" class="row">
  	<div class="col-10">
  		<h4>{{ item.title }}</h4>
  		<textarea
  			*ngIf= "item.edit"
  			class="col p-0"
  			rows="4"
  			[(ngModel)]="item.content">  				
  			</textarea> 
  		<p *ngIf= "!item.edit">{{ item.content }}</p>
  	</div>
    <div class="col-2 text-right mt-1">
    	<button class="btn btn-info col mt-4" *ngIf= "!item.edit" (click)="onEdit(item)">Edit</button>
    	<button class="btn btn-info col mt-4" *ngIf= "item.edit" (click)="onCancel(item)">Cancel</button>
    	<button class="btn btn-danger col mt-4" *ngIf= "!item.edit" (click)="onRemove(item.id)">Remove</button>
    	<button class="btn btn-success col mt-4" *ngIf= "item.edit" (click)="onUpdate(item)">Save</button>
    </div>

    <ul class="row">
      <li *ngFor="let tag of item.tags; index as index">
      	<button class="btn btn-light mr-2 tagBtn" [disabled]="!item.edit" (click)="onTagRemove(item, index)">#{{ tag }}</button>
      </li>
      <li ><button class="btn btn-success mr-2 p-1" *ngIf= "item.edit && !editTag" (click)="editTag = !editTag">add</button></li>
      
      <div class="form-group col-3 mr-2" *ngIf= "item.edit && editTag">
          <input 
            type="text" 
            class="form-control"
            required
            [(ngModel)]= "newTag"
            minlength="1"
            maxlength="8">
      </div>
      <li ><button class="btn btn-info mr-2 p-1" *ngIf= "item.edit && editTag" (click)="editTag = !editTag">Cancel</button></li>
      <li ><button class="btn btn-success mr-2 p-1" *ngIf= "item.edit && editTag" (click)="onTagAdd(item)">Save</button></li>
    </ul>
  </li>
</ul>